.om-popup {

  $color-red: #b80000;
  $color-yellow: #fdb515;
  $color-dark: #333333;
  $color-silver: #ececec;
  $color-yellow-light: #fdb51540;

  $dim: 10px;
  $dim-double: $dim * 2;
  $dim-and-half: $dim * 1.5;
  $dim-half: $dim / 2;

  width: 300px;
  margin: 0;
  font-size: 15px;
  color: $color-dark;

  .header {
    display: flex;
    align-items: center;
    padding: $dim;

    img {
      width: 24px;
    }

    div {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: inherit;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-red;

      span {
        color: $color-yellow;
      }
    }
  }

  .section {
    .header {
      margin-top: $dim;
      padding: $dim-half $dim;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .content {
      display: flex;
      padding: 0 $dim;
      min-height: 27px;
      &.tall {
        min-height: 70px;
      }

      .tile {
        flex-basis: 50%;
        flex-grow: 0;
        padding: $dim-half $dim;
        border-left-width: $dim-half;
        border-left-style: solid;
        border-left-color: $color-yellow;
        text-align: right;
        background: $color-silver;
        &:nth-child(1) {
          margin-right: $dim-half;
        }
        &:nth-child(2) {
          margin-left: $dim-half;
        }
        &.disabled {
          border-left-color: $color-red;
        }
        &.single {
          flex-basis: 100%;
          &:nth-child(1) {
            margin-right: 0;
          }
        }

        .count {
          font-size: 20px;
          font-weight: bold;
        }

        .label {
          font-size: 10px;
          padding-right: 1px;
        }
      }
    }
  }

  .actions {
    margin-top: $dim-and-half;

    button {
      position: relative;
      border: none;
      cursor: pointer;
      width: 100%;
      text-align: left;
      padding: $dim;
      letter-spacing: 0.5px;
      font-size: inherit;
      text-decoration: none;
      color: black;
      background: transparent;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
        right: $dim;
        width: $dim-double;
        height: $dim-double;
        background-size: contain;
      }
      &:hover {
        background: #e8e8e8;
      }
      &:focus {
        outline: 0;
      }
      &:active {
        background: $color-yellow-light;
      }
      &.on {
        &:after {
          background-image: url(../assets/check_box_on-24px.svg);
        }
      }
      &.off {
        &:after {
          background-image: url(../assets/check_box_off-24px.svg);
        }
      }
    }
  }

}
